*, *::after, *::before {
    /* box-sizing: border-box; */
}

 body {
    height: 100%;
    display: grid;
    place-content: center;
}

section {
    padding: 2rem 0;
}

.container {
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:.5rem;
}



.card:nth-of-type(1) {
    grid-column: 1/span 2;
    grid-row: 1/ 2;
}

.card:nth-of-type(2) {
    grid-row: 1/ 2;
}

.card:nth-of-type(3) {
    grid-row: 1/ 3;
}

.card:nth-of-type(4) {
    grid-row: 2/ 3;
}

.card:nth-of-type(5) {
    grid-column: 2/ 4;
}








.card:nth-of-type(2n+1) {
    background-color: blue;
}

.card:nth-of-type(2n) {
    background-color: coral;
}